<div class="row">
  <div class="col md-6">
    <ul class="home">
      <% @ideas.each do |idea| %>
        <li><a href="/ideas/<%= idea.slug %>"><%= idea.title %></a><br>
          <p><%= idea.summary %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
