<div class="row">
  <div class="col12">
    <center>
<h1>Helix</h1>
  <p class="lead">Find your audience. Find your voice.</p>
    </center>
  </div>
</div>
<br />
<br />
<ul class="home">
  <% @ideas.each do |idea| %>
    <li><%= idea.title %></li>
  <% end %>
</ul>

